<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067797101091-cbd5gq06d7r1h07l1l7su224103uas1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067797101091-cbd5gq06d7r1h07l1l7su224103uas1h</string>
	<key>API_KEY</key>
	<string>AIzaSyDuXF6R4o0buwtu3nFZmwUqZffltq5ZNyc</string>
	<key>GCM_SENDER_ID</key>
	<string>1067797101091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hilay.sefreitorah</string>
	<key>PROJECT_ID</key>
	<string>sefrei-torah</string>
	<key>STORAGE_BUCKET</key>
	<string>sefrei-torah.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067797101091:ios:ddc2bcc14a121d2525cf96</string>
</dict>
</plist>